<div>
	<p>@Message</p>

	<div class="d-grid gap-2 d-flex justify-content-center">
		<button type="button" @onclick="Cancel" class="btn btn-primary">Close</button>
	</div>

</div>

@code {
	[CascadingParameter] BlazoredModalInstance BlazoredModal { get; set; } = default!;

	[Parameter] public string? Message { get; set; }

	async Task Cancel() => await BlazoredModal.CancelAsync();

}

