@page "/counter"

<PageTitle>YAQT - Counter</PageTitle>

<h1>Counter</h1>
<p role="status">Current count: @currentCount</p>
<button class="btn btn-primary" @onclick="IncrementCount">Click me</button>

<hr />
	<NewSessionBuilder CandidateId="Guid.Empty" MaxResultCount="20" PrepareExamSessionSubmitted="MyHandler"></NewSessionBuilder>


@code {
	private int currentCount = 0;

	private void IncrementCount() {
		currentCount++;
	}

	protected Task MyHandler(Object input) {
		return Task.CompletedTask;
	}
}
