@inject NavigationManager NavigationManager

@inherits LayoutComponentBase

<PageTitle>YAQT by GP software @*v. @AppInfo.Current.VersionString*@</PageTitle>


<!-- ======= Header ======= -->
<header id="header" class="fixed-top ">
	<div class="container d-flex align-items-center">

		<h1 class="logo me-auto"><a href="/">YAQT by GP software @*v. @AppInfo.Current.VersionString*@</a></h1>
		<!-- Uncomment below if you prefer to use an image logo -->
		<!-- <a href="index.html" class="logo me-auto"><img src="_content/Quiz.Blazor.Shared/images/theme/logo.png" alt="" class="img-fluid"></a>-->

		<NavMenu />
	</div>
</header><!-- End Header -->


<div class="page">
@*	<div class="sidebar">
		<NavMenu />
	</div>
*@
	<main>
		<div class="top-row container-fluid auth">
			@*<a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>*@
			<LoginDisplay />
		</div>
		<article class="container-fluid content">
			@Body
		</article>
	</main>
</div>

@code {
	// Gp - added by me to force logn

	//[CascadingParameter] protected Task<AuthenticationState> AuthStat { get; set; }

	//protected async override Task OnInitializedAsync() {
	//	base.OnInitialized();
	//	var user = (await AuthStat).User;
	//	if (!(user?.Identity?.IsAuthenticated ?? false)) {
	//		NavigationManager.NavigateTo($"authentication/login?returnUrl={Uri.EscapeDataString(NavigationManager.Uri)}");
	//	}
	//}
}