<div class="d-grid mt-3 gap-2 d-flex justify-content-center">
	<button type="button" class="btn btn-danger"
		@onclick="@(() => DeleteClosedSessions(RootExamId))">
		Delete closed sessions
	</button>
	<button type="button" class="btn btn-danger"
		@onclick="@(() => DeleteOldNotes(RootExamId))">
		Delete old errors
	</button>
</div>

